﻿body{
    background-color: rgba(0, 0, 0, 0.37);
}
body img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.emp{
    background-color: black;
    width: 350px;
    height: 150px;
    color: white;
    border-radius:10px; 
    top: 20px;
    position: relative;
    left: 300px;
       
}
.emp h2{
    font-size: 26px; 
    text-align: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}
#btn{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    padding: 5px;
    background-color: white;
    color: black;
    position: relative;
    left: 100px;
}
#btn:hover{
    background-color: black;
    color: white;
    width: 170px;
    height: 60px;
    font-size: 20px;
    
}
.int{
    background-color: black;
    width: 350px;
    height: 150px;
    color: white;
    border-radius:10px; 
    top:-150px;
    left: 800px;
    position: relative;
}
.int h2{
    font-size: 26px; 
    text-align: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}
.att{
    background-color:black;
    width: 350px;
    height: 150px;
    color: white;
    border-radius:10px; 
    top:145px;
    left: 350px;
    position: relative;
}
.att h2{
    font-size: 26px; 
    text-align: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}
.pro{
    background-color: black;
    width: 350px;
    height: 150px;
    color: white;
    border-radius:10px; 
    top: -160px;
    left: 300px;
    position: relative;
}
.pro h2{
    font-size: 26px; 
    text-align: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}
.break
{
    background-color: black;
    width: 350px;
    height: 150px;
    color: white;
    border-radius:10px; 
    top: -160px;
    left: 300px;
    position: relative;
}
.break h2
{
    font-size: 26px; 
    text-align: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}
.emp:hover
 {
    transform: scale(1.1);
    
}
.dot
{
   
   height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
   
}


.nav-align
{
        height: 100px;
        background-color:#d4d1d1;
}
.nav-design
{
    position: relative;
    top: 35px;
    /* margin-left: 129px; */
    left: -70px;
    font-size: 20px;
    /* margin-right: 22px; */
}
.li :hover{
    background-color:white !important;
    color:black !important;
    height:50px !important;
    width:200px !important;
    text-align:center;
    border-radius:3px 3px;
}
.li :active
{
    background-color:white !important;
    color:black !important;
}
.li
{
    margin-right:10px;
}
.footer
{
       background-color: black;
    width: 100%;
    height: 150px;
    color:gray;

}

.icons {
    display: inline;
    font-size: 38px;
    left: 635px;
    position: relative;
    top: 20px;
    
}
.p-align
{
        position: relative;
    font-size: 20px;
    top: 15px;
    left: 750px;
}
.icons-align
{
    margin-right:10px;
}
.p1-align
{
        position: relative;
    top: 20px;
    left: -32px;
}
.color
{
    color:gray !important;
}
.prof
{
           position: relative;
    top: 210px;
    left: -55px;
    height: 65px;
    width: 135px;
}